<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Post Details</title>
</head>
<body>

<form method="POST" action="/post/{{ post['id'] }}">
    {{ form.csrf_token }}
    <div class="content">
        <div class="narrow-column">
            <div class="header">
                <span class="date">{{ post['timestamp'] }}</span>
                <span class="name">{{ post['username'] }}</span>
            </div>
            <img src="/static/images/{{ post['id'] }}.jpg" alt="Image" class="image">
            <div class="caption"> {{ post['caption'] }}</div>
            <div class="text">{{ post['ocr_caption'] }}</div>
            <table>
                <tr>
                    <th>Foundation</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>moral_care</td>
                    <td>{{ post['moral_care'] }}</td>
                </tr>
                <tr>
                    <td>moral_fair</td>
                    <td>{{ post['moral_fair'] }}</td>
                </tr>
                <tr>
                    <td>moral_loyal</td>
                    <td>{{ post['moral_loyal'] }}</td>
                </tr>
                <tr>
                    <td>moral_auth</td>
                    <td>{{ post['moral_auth'] }}</td>
                </tr>
                <tr>
                    <td>moral_sanct</td>
                    <td>{{ post['moral_sanct'] }}</td>
                </tr>
            </table>
        </div>
        <div class="narrow-column">

            {{ form.referendum }}
            {{ form.submit }}
            Noch: {{ remaining }}
            <fieldset>
                <legend>Direction - Policy Change</legend>
                {{ form.direct_camp }}
            </fieldset>
            <fieldset>
                <legend>Strategy</legend>
                {{ form.strategy }}
            </fieldset>
            <fieldset>
                <legend>Structural Information</legend>
                {{ form.info_struct }}
            </fieldset>
            <fieldset>
                <legend>Pos on policy issues / debates</legend>
                {{ form.info_posit }}
            </fieldset>
            <fieldset>
                <legend>Acclaim/Attack</legend>
                {{ form.neg_strat }}
            </fieldset>
            <fieldset>
                <legend>Focus</legend>
                {{ form.neg_focus }}
            </fieldset>
            <fieldset>
                <legend>Incivility</legend>
                {{ form.neg_inciv }}
            </fieldset>
            <fieldset>
                <legend>Encouragment</legend>
                {{ form.twostep_strat }}
            </fieldset>
        </div>
        <div class="narrow-column">
            <fieldset>
                <legend>Target</legend>
                {{ form.neg_targ }}
            </fieldset>


            {{ form.submit }}


        </div>


    </div>


</form>

<a href="{{ url_for('show_post_details', post_id=previous_post.id) }}"> <- </a>
<a href="/">Back</a>

<a href="{{ url_for('show_post_details', post_id=next_post.id) }}"> -> </a>


</body>
</html>